extends ../../layouts/default.pug
include ../../mixins/alert.pug

block main 
    +alert-success(5000)
    +alert-error(5000)

    h1(class='mb-4') Permissions 

    div(class='text-right')
        button(
            type='submit'
            class='btn btn-primary mb-3'
            button-submit
        ) Update
    
    table(
        class='table table-hover table-sm'
    )
        thead 
            tr 
                th Feature
                th(class='text-center') Administrator
                th(class='text-center') Content Management 

        tbody 
            tr 
                td(colspan="3")
                    b Product Category 
            tr(data-name='products-category_view')
                td View 
                td(class='text-center')
                    input(type='checkbox')
                td(class='text-center')
                    input(type='checkbox')       

            tr(data-name='products-category_view')
                td View 
                td(class='text-center')
                    input(type='checkbox')
                td(class='text-center')
                    input(type='checkbox')

            tr(data-name='products-category_create')
                td Create New 
                td(class='text-center')
                    input(type='checkbox')
                td(class='text-center')
                    input(type='checkbox')

            tr(data-name='products-category_edit')
                td Edit 
                td(class='text-center')
                    input(type='checkbox')
                td(class='text-center')
                    input(type='checkbox')

            tr(data-name='products-category_delete')
                td Delete
                td(class='text-center')
                    input(type='checkbox')
                td(class='text-center')
                    input(type='checkbox')