.sider
    .inner-menu 
        ul
            li
                a(href=`/${prefixAdmin}/dashboard`) Dashboard
            li 
                a(href=`/${prefixAdmin}/products-category`) Product Category 
            li
                a(href=`/${prefixAdmin}/products`) Product List
            li
                a(href=`/${prefixAdmin}/roles`) Roles